.azul{
    color:blue;
    border: 2px solid black;
}

.rojo{
    color:red;
}
.ocultar{
    visibility: hidden;
}
.container{
    padding:3px;
    margin:5px;
    width: 80%;
}
.card{
    margin: 3px;
    border: 1px black solid;
}